.display
  %label Name of wedding
  %span.value
    = wedding.name
.display
  %label Who is planning
  %span.value
    = wedding.planner_id
.display
  %label Relationship of planner
  %span.value
    = wedding.planner_relationship
